<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>872965650299-gbgppo3fqh515it9pqk7gicct3uo5bkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872965650299-gbgppo3fqh515it9pqk7gicct3uo5bkq</string>
	<key>API_KEY</key>
	<string>AIzaSyC0T9njkje7n1gF9QuLQ4fqs14ePXU3OFY</string>
	<key>GCM_SENDER_ID</key>
	<string>872965650299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fatihSumbul.I-nstaa-clone-firebase</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-firebas</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-firebas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:872965650299:ios:96b3a217d33ddffb</string>
	<key>DATABASE_URL</key>
	<string>https://insta-clone-firebas.firebaseio.com</string>
</dict>
</plist>
